<html>
    <head>
        <title>Django Server </title>
    </head>
    <body>
        <div class="liveNumOuter">
							<h2><a title="국내 환자현황 자세히 보기" href="http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=1&brdGubun=11&ncvContSeq=&contSeq=&board_id=&gubun=">환자 현황<span class="livedate">(9.29. 00시 기준, 1.3 이후 누계)</span><span class="more">자세히</span></a></h2>							
							<h3 class="hdn">일일 집계현황</h3>
							<div class="liveNum_today_new">
								<strong class="tit">일일확진자</strong>
								<div class="datalist">
									<ul>
										<li>
											<span class="subtit">국내발생</span><span class="data">23</span>
										</li>
										<li>
											<span class="subtit">해외유입</span><span class="data">15</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="liveNum">
								<h3 class="hdn">실시간 집계현황</h3>
								<ul class="liveNum">
									<li>
										<strong class="tit">확진환자</strong>
										<span class="num"><span class="mini">(누적)</span>23,699</span>
										<span class="before">전일대비 (+ 38)</span>
									</li>
									<li>
										<em class="sign">=</em>
										<strong class="tit">격리해제</strong>
										<span class="num">21,470</span>
										<span class="before">(+ 178)</span>
									</li>
									<li>
										<em class="sign">+</em>
										<strong class="tit">치료 중<br><span class="mini_tit">(격리 중)</span></strong>
										<span class="num">1,822</span>
										<span class="before">(- 141)</span>
										<a class="help" id="liveNum_help" href="">?</a>
									</li>
									<li>
										<em class="sign">+</em>
										<strong class="tit">사망</strong>
										<span class="num">407</span>
										<span class="before">(+ 1)</span>
									</li>
								</ul>
								<div class="help_info" id="liveNum_help_info">
									
    </body>
</html>